# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SSH Keys
*.pem
*.pub

# Local .terraform directories
**/.terraform/*

# Sensitive variable files
*.auto.tfvars
*.auto.tfvars.json
